
*.png
01-BasicKnowledge/04-Tensorboard/logs/events.out.tfevents.1687484576.WinPC-for-Yacan.9796.8
01-BasicKnowledge/04-Tensorboard/logs/events.out.tfevents.1687484548.WinPC-for-Yacan.9796.7
*.gz
01-BasicKnowledge/05-Transforms/data/cifar-10-batches-py/data_batch_1
01-BasicKnowledge/05-Transforms/data/cifar-10-batches-py/data_batch_2
01-BasicKnowledge/05-Transforms/data/cifar-10-batches-py/data_batch_4
01-BasicKnowledge/05-Transforms/data/cifar-10-batches-py/data_batch_3
01-BasicKnowledge/05-Transforms/data/cifar-10-batches-py/data_batch_5
*.html
01-BasicKnowledge/05-Transforms/data/cifar-10-batches-py/test_batch
*.9
*.0
*.1
*.2
*.pth
01-BasicKnowledge/17-ImageClassificationCifar10/data/cifar-10-batches-py/data_batch_1
01-BasicKnowledge/17-ImageClassificationCifar10/data/cifar-10-batches-py/data_batch_3
01-BasicKnowledge/17-ImageClassificationCifar10/data/cifar-10-batches-py/data_batch_4
01-BasicKnowledge/17-ImageClassificationCifar10/data/cifar-10-batches-py/data_batch_2
01-BasicKnowledge/17-ImageClassificationCifar10/data/cifar-10-batches-py/data_batch_5
01-BasicKnowledge/17-ImageClassificationCifar10/data/cifar-10-batches-py/test_batch
*.meta
05-Practice/00-ImageClassificationCifar10/data/cifar-10-python/cifar-10-batches-py/test_batch
05-Practice/00-ImageClassificationCifar10/data/cifar-10-python/cifar-10-batches-py/train_batch_2
05-Practice/00-ImageClassificationCifar10/data/cifar-10-python/cifar-10-batches-py/train_batch_1
05-Practice/00-ImageClassificationCifar10/data/cifar-10-python/cifar-10-batches-py/train_batch_3
05-Practice/00-ImageClassificationCifar10/data/cifar-10-python/cifar-10-batches-py/train_batch_4
05-Practice/00-ImageClassificationCifar10/data/cifar-10-python/cifar-10-batches-py/train_batch_5
